.add-option-error {
  background: #ffcece;
  border: 1px solid red;
  color: black;
  padding: $sm-size;
  text-align: center;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $md-size;
}

.add-option__input {
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  color: $off-white;
  flex-grow: 1;
  margin: 0 0 $sm-size 0;
  padding: $md-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }

  .add-option__input {
    margin: 0 $sm-size 0 0;
  }
}