.header {
  background: $off-black;
  color: #fff;
  margin-bottom: $md-size;
  padding: $md-size $sm-size;

}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xxl-size;
  }
}

.header__title {
  font-size: $xl-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $md-size;
  font-weight: 500;
}